<template>
  <v-container
    class="pa-12 justify-center"
    style="height: 97%; flex-direction: column"
    fluid
  >
    <v-row class="mb-6" align-content="center">
      <h3>
        Hi <span class="user-name">{{ user.name }}</span
        >, welcome to your personal dashboard!
      </h3>
    </v-row>
    <v-row
      style="height: 100%; overflow: scroll; height: 700px; width: 1200px"
      justify-content="center"
    >
      <v-col cols="6">
        <v-card
          width="auto"
          height="48%"
          class="rounded-xl pa-4"
          outlined
          elevation="0"
        >
          <v-card-title>To-do List</v-card-title>
          <v-card-text>
            You don't have anything on your to-do list. Enjoy the rest of your
            day!
          </v-card-text>
        </v-card>
        <div style="height: 4%"></div>
        <v-card
          width="auto"
          height="48%"
          class="rounded-xl pa-4"
          outlined
          elevation="0"
        >
          <v-card-title style="height: 25%">Live Account</v-card-title>
          <v-card-text style="height: 75%">
            <v-container style="height: 100%; overflow: scroll">
              <v-row justify="space-between"
                >Please view your account info.</v-row
              >
              <div style="margin-top: 8%"></div>
              <v-row justify="space-between">
                <h3>Cash</h3>
                <div class="d-flex">
                  <h2>{{ 100 }}</h2>
                  &nbsp;&nbsp;&nbsp;
                  <h3>USD</h3>
                </div>
              </v-row>
              <div style="margin-top: 8%"></div>
              <v-row justify="space-between">
                <h3>Holding</h3>
                <div class="d-flex">
                  <h2>{{ 100 }}</h2>
                  &nbsp;&nbsp;&nbsp;
                  <h3>ETH</h3>
                </div>
              </v-row>
              <div style="margin-top: 8%"></div>
              <v-row justify="space-between">
                <h3>Value of Total Asset</h3>
                <div class="d-flex">
                  <h2 style="color: #2D20F5">{{ 100 }}</h2>
                  &nbsp;&nbsp;&nbsp;
                  <h3>USD</h3>
                </div>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card
          width="auto"
          height="100%"
          class="rounded-xl pa-4"
          outlined
          elevation="0"
          style="overflow: scroll"
        >
          <v-card-title style="height: 10%; min-height: 60px;"
            >Current Test Summary</v-card-title
          >
          <v-card-text style="height:90%">
            Below shows the summary of your current status in this test.
            <div style="height: 4%"></div>
            <v-row style="height: 48%">
              <v-col
                ><v-card
                  elevation="10"
                  class="rounded-xl pa-2"
                  :style="summaryBlockStyle"
                >
                  <v-card-text style="height: 100%">
                    <div style="height: 50%">
                      <v-row dense :style="summaryTitleStyle">
                        Psycology Test
                      </v-row>
                      <v-row dense :style="summaryDescStyle">
                        Locus of Control
                      </v-row>
                      <v-row dense class="my-3" style="font-size: 1.25em"
                        >Score:</v-row
                      >
                    </div>
                    <v-row dense class="big-digit" style="height: 45%">
                      <span>88</span>
                    </v-row>
                  </v-card-text>
                </v-card></v-col
              >
              <v-col
                ><v-card
                  elevation="10"
                  class="rounded-xl pa-2"
                  :style="summaryBlockStyle"
                >
                  <v-card-text style="height: 100%">
                    <div style="height: 50%">
                      <v-row dense :style="summaryTitleStyle">
                        1st Round
                      </v-row>
                      <v-row dense :style="summaryDescStyle">
                        Discretionary strategy
                      </v-row>
                      <v-row dense class="my-3" style="font-size: 1.25em"
                        >ROI:</v-row
                      >
                    </div>
                    <v-row dense class="big-digit" style="height: 45%">
                      <div>
                        <span>123</span
                        ><span style="font-size: 24px">&nbsp;%</span>
                      </div>
                    </v-row>
                  </v-card-text>
                </v-card></v-col
              >
            </v-row>
            <v-row style="height: 48%">
              <v-col
                ><v-card
                  elevation="10"
                  class="rounded-xl pa-2"
                  :style="summaryBlockStyle"
                >
                  <v-card-text style="height: 100%">
                    <div style="height: 50%">
                      <v-row dense :style="summaryTitleStyle">
                        2nd Round
                      </v-row>
                      <v-row dense :style="summaryDescStyle">
                        AI strategy
                      </v-row>
                      <v-row dense class="my-3" style="font-size: 1.25em"
                        >ROI:</v-row
                      >
                    </div>
                    <v-row
                      v-if="false"
                      dense
                      class="big-digit"
                      style="height: 45%"
                    >
                      <div>
                        <span>123</span
                        ><span style="font-size: 24px">&nbsp;%</span>
                      </div>
                    </v-row>
                    <v-row dense v-else class="d-flex justify-center">
                      <v-col
                        cols="auto"
                        class="d-flex flex-column align-center"
                      >
                        <v-img :src="idea" max-width="50px"></v-img>
                        <div class="mt-3">UPCOMING</div>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card></v-col
              >
              <v-col
                ><v-card
                  elevation="10"
                  class="rounded-xl pa-2"
                  :style="summaryBlockStyle"
                >
                  <v-card-text style="height: 100%">
                    <div style="height: 50%">
                      <v-row dense :style="summaryTitleStyle">
                        3rd Round
                      </v-row>
                      <v-row dense :style="summaryDescStyle">
                        Unknown strategy
                      </v-row>
                      <v-row dense class="my-3" style="font-size: 1.25em"
                        >ROI:</v-row
                      >
                    </div>
                    <v-row
                      v-if="false"
                      dense
                      class="big-digit"
                      style="height: 45%"
                    >
                      <div>
                        <span>123</span
                        ><span style="font-size: 24px">&nbsp;%</span>
                      </div>
                    </v-row>
                    <v-row dense v-else class="d-flex justify-center">
                      <v-col
                        cols="auto"
                        class="d-flex flex-column align-center"
                      >
                        <v-img :src="idea" max-width="50px"></v-img>
                        <div class="mt-3">UPCOMING</div>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card></v-col
              >
            </v-row>
          </v-card-text>
        </v-card>
      </v-col></v-row
    >
  </v-container>
</template>

<script>
import idea from '../assets/idea-icon.png';
import { getToken } from '../utils/auth';
import { getCurrentUser } from '../apis/user';

export default {
  name: 'Dashboard',

  data() {
    return {
      idea,
      summaryBlockStyle: 'height: 100%; width: 100%; background-color: #F8F8F8',
      summaryTitleStyle: 'font-size: 15px; color: black;',
      summaryDescStyle: 'font-size: 18px; color: black; font-weight: 500',
      token: '',
      user: {}
    };
  },

  async mounted() {
    // check if token valid
    const token = getToken();
    if (token === null || token === '') {
      this.$router.push('/login');
    }

    this.token = token;
    // pull user info
    const currentUserInfo = await getCurrentUser(token);
    this.user = currentUserInfo;
  },

  components: {}
};
</script>

<style scoped>
.user-name {
  color: #2d20f5;
}

.block-wrapper {
  height: 100%;
}

.big-digit {
  color: #2d20f5;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
</style>
