<template>
  <v-container class="pa-12" fluid>
    <v-row class="mb-4">
      <h3>Create a new account</h3>
    </v-row>
    <v-row justify="center">
      <v-col cols="auto" class="mt-6">
        <v-img :src="logo" width="150px"> </v-img>
      </v-col>
    </v-row>
    <v-row justify="center">
      <h3>You have successfully created an account!</h3>
    </v-row>
    <div style="height: 50px"></div>
    <v-row justify="center">
      <router-link to="/login">Redirect to login</router-link>
    </v-row>
    <div style="height: 50px"></div>
    <v-row justify="center">
      <div class="mb-3 mt-5 description">
        If you have any question, concern, or suggestion, please contact
        jz294@duke.edu
      </div>
    </v-row>
    <v-row justify="center">
      <div class="description">
        © Copyright SciEcon TEA Taskforce, All Rights Reserved.
      </div>
    </v-row>
  </v-container>
</template>

<script>
import logo from '../assets/logo-light-mode.png';
import { LoremIpsum } from 'lorem-ipsum';

export default {
  name: 'SignUpSuccess',
  data() {
    return {
      logo,
      valid: false,
      email: '',
      password: '',
      confirmPassword: '',
      showConsentForm: false,
      isAgreementChecked: false,
      lorem: new LoremIpsum({
        sentencesPerParagraph: { max: 8, min: 4 },
        wordsPerSentence: { max: 16, min: 4 }
      }),
      passwordRules: [v => !!v || 'Password is required'],
      emailRules: [v => !!v || 'E-mail is required'],
      agreeRules: [v => !!v || ''],
      confirmPasswordRules: [
        v => !!(v === this.password) || 'Passwords are not consistent!'
      ]
    };
  },

  methods: {
    onSubmit() {
      let payload = {
        email: this.email,
        password: this.password
      };
      console.log(payload);
    },

    onConsentClicked() {
      console.log('abaaba');
    }
  }
};
</script>

<style>
.input-wrapper {
  width: 450px;
}

.description {
  opacity: 0.6;
  font-size: 14px;
}

.checkbox-wrapper {
  margin-top: -20px;
  margin-bottom: 20px;
}
</style>
