<template>
  <v-app>
    <v-app-bar app color="#F0F0F0" height="80px" fixed light>
      <v-row>
        <div class="header-wrapper">
          <div class="app-title">
            Investment in Cryptocurrencies: Delegate to AI or not
          </div>
          <v-btn text @click="onLogout">Logout</v-btn>
        </div>
      </v-row>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { setToken } from './utils/auth';

export default {
  name: 'App',

  data: () => ({
    //
  }),

  methods: {
    onLogout() {
      setToken('');
      this.$router.push('/login');
    }
  }
};
</script>

<style>
.app-title {
  font-size: 28px;
  font-weight: 500;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}
</style>
